<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store Registration</title>
    <link rel="stylesheet" href="/css/common.css">

    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            text-align: center;
            padding: 20px;
            background-color: #ffffff;
            border-bottom: 1px solid #ffffff;
        }

        main {
            padding: 20px;
            text-align: center;
        }

        h1 {
            margin: 0;
        }
    </style>
</head>

<body>
<header>
    <h1>내 가게 관리</h1>
</header>

<main>
    <div>
        <button onclick="location.href='Registration.html'">가게 등록</button>
    </div>
</main>
</body>
</html>
