* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main {
    width: 100%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #ffffff;
    color: #575656;
    font-weight: 70;
}

button {
    background-color: #fcedb4;
    color: #333;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #ffd500;
    color: white;
}

