/* 모든 요소의 기본 여백 및 패딩을 0으로 설정하고 박스 크기 계산을 일정하게 유지 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* 수직 및 수평 가운데 정렬 */
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    width: 100%;  /* 최대 너비 설정 */
    max-width: 1200px;  /* 최대 너비 증가 */
    flex: 1;
    text-align: center;
}

.main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #fcedb4;
    color: #000000;
    border: none;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    width: 240px;
    font-size: 16px;
}

button:hover {
    background-color: #ffd500;
    color: white;
}

/* 테이블 스타일 */
.board-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.board-table th, .board-table td {
    padding: 15px 30px;  /* 여백 증가 */
    border: 1px solid #5a5a5a;
    text-align: left;
}

.board-table th {
    background-color: #fcedb4;
    color: #5a5a5a;
    font-weight: 70;
}

.board-table th.writer, .board-table td.writer {
    width: 20%;
}

.board-table th.title, .board-table td.title {
    width: 40%;
}

.board-table th.date, .board-table td.date {
    width: 25%;
}

.board-table th.hits, .board-table td.hits {
    width: 2%;
    text-align: center;  /* 수평 가운데 정렬 */
}

.board-table td a {
    text-decoration: none;
    color: #333;
}

.board-table td a:hover {
    text-decoration: underline;
}

