/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
}

/* 메인 스타일 */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    width: 90%;
    max-width: 800px;
    flex: 1;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fcedb4; /* Yellow background color */
    width: 100%; /* Ensure the container takes the full width */
}

.order-container h3 {
    margin: 10px 0; /* Added margin for better spacing */
    font-size: 18px; /* Increased font size for better readability */
}

.order-images {
    display: flex;
    justify-content: center; /* Center the images */
    margin-bottom: 15px;
    flex-wrap: wrap; /* Allow images to wrap to the next line if necessary */
}

.order-container img {
    border-radius: 5px;
    margin: 5px; /* Added margin around images */
    width: 500px; /* Increased width */
    height: 500px; /* Increased height */
    object-fit: cover;
}

.order-details {
    text-align: left; /* Align text to the left for better readability */
    width: 100%;
}

/* Additional spacing settings */
.order-container h3, .order-container img, .order-images {
    margin-bottom: 30px;
}
