/* Reset some basic elements to ensure consistency across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group.submit-group {
    display: flex;
    justify-content: flex-end; /* Align the button to the right */
}

.submit-button {
    background-color: #fcedb4;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #ffd500;
    color: #ffffff;
}
