/* 모든 요소의 기본 여백 및 패딩을 0으로 설정하고 박스 크기 계산을 일정하게 유지 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 20px;  /* 패딩 증가 */
    background-color: #fcedb4;  /* 배경색을 연한 노란색으로 설정 */
    color: #000000;  /* 텍스트 색상을 검은색으로 설정 */
    border-bottom: 1px solid #ccc;
    position: relative;
}

header h2 {
    margin-top: 20px; /* 위로 올려서 버튼과 간격 확보 */
    margin-bottom: 5px; /* 텍스트 아래에 여백 추가 */
    font-size: 36px;  /* 텍스트 크기 증가 */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px; /* 메인과 푸터 사이에 공간 추가 */
    width: 90%;
    max-width: 800px;
    flex: 1;  /* 메인 컨텐츠가 남은 공간을 차지하도록 설정 */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form label, form input, form textarea {
    margin-bottom: 15px; /* 요소 간 간격 추가 */
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px; /* 요소 간 간격 추가 */
}

input[type="file"],
input[type="text"],
textarea,
input[type="submit"],
label {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    font-size: 16px;  /* 글자 크기 증가 */
    padding: 10px;  /* 패딩 추가 */
}

.input-group input[type="text"] {
    width: 80%; /* 너비 설정 */
    padding: 10px; /* 패딩 추가 */
}

.input-group input[type="button"] {
    width: 20%; /* 너비 설정 */
    height: calc(100% - 2px); /* 텍스트 입력 창과 같은 높이 */
    margin-left: 5px; /* 간격 추가 */
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px;  /* 패딩 증가 */
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;  /* 글자 크기 증가 */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#image_preview {
    width: 100%;  /* 너비를 텍스트 입력 부분과 동일하게 설정 */
    max-width: 500px;  /* 최대 너비 설정 */
    height: 300px;  /* 높이 증가 */
    margin-bottom: 15px; /* 하단 여백 증가 */
    border: 1px solid #ccc;
    object-fit: cover;
}

.img-preview {
    display: inline-block;
    position: relative;
    width: 100%;  /* 너비를 텍스트 입력 부분과 동일하게 설정 */
    max-width: 500px;  /* 최대 너비 설정 */
    height: 300px;  /* 높이 증가 */
    margin: 5px;
}

.img-preview img {
    width: 100%;
    height: 100%;
}

.img-preview button {
    width: 25px;
    height: 25px;
    position: absolute;
    font-size: 18px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
}

footer {
    background-color: #fcedb4;  /* 배경색을 연한 노란색으로 설정 */
    color: #000000;  /* 텍스트 색상을 검은색으로 설정 */
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;  /* 푸터를 페이지 하단에 고정 */
}

.footer-info {
    margin: 5px 0;
}
