/* 모든 요소의 기본 여백 및 패딩을 0으로 설정하고 박스 크기 계산을 일정하게 유지 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* 수직 및 수평 가운데 정렬 */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px; /* 메인과 푸터 사이에 공간 추가 */
    width: 90%;
    max-width: 800px;  /* 최대 너비 설정 */
    flex: 1;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form label, form input, form textarea {
    margin-bottom: 15px; /* 요소 간 간격 추가 */
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px; /* 요소 간 간격 추가 */
}

input[type="file"],
input[type="text"],
input[type="password"],
textarea,
input[type="submit"],
label,
.update-button {
   width: 100%;
   max-width: 500px;
   margin-bottom: 10px;
   font-size: 16px;  /* 글자 크기 증가 */
   padding: 10px;  /* 패딩 추가 */
}

input[type="password"] {
    font-family: 'Courier New', Courier, monospace; /* 비밀번호 필드의 글꼴 설정 */
    letter-spacing: 0.1em; /* 비밀번호 필드의 글자 간격 설정 */
}

.input-group input[type="text"] {
    width: 80%; /* 너비 설정 */
    padding: 10px; /* 패딩 추가 */
}

.input-group input[type="button"] {
     width: 20%; /* 너비 설정 */
     height: calc(100% - 2px); /* 텍스트 입력 창과 같은 높이 */
     margin-left: 5px; /* 간격 추가 */
}

input[type="submit"],
.update-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 20px;  /* 패딩 증가 */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;  /* 글자 크기 증가 */
}

input[type="submit"]:hover,
.update-button:hover {
    background-color: #0056b3;
}

