/* slider.css */
.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 700px; /* 세로 길이 */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; /* 슬라이더 높이에 맞춤 */
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 100%; /* 이미지가 슬라이더를 채우도록 */
    object-fit: cover; /* 이미지 비율을 유지하면서 슬라이더를 채움 */
}

.dots {
    text-align: center;
    padding: 10px 0;
    background: white;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #717171;
}
