/* 모든 요소의 기본 마진과 패딩을 제거 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 20px 5px;  /* 패딩 조정 (bottom padding 줄임) */
    background-color: #fcedb4;  /* 배경색을 연한 노란색으로 설정 */
    color: #000000;  /* 텍스트 색상을 검은색으로 설정 */
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-bottom: 10px; /* 헤더와 다음 요소 사이의 여백 추가 */
}

header h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
}

nav.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px; /* 베너와 텍스트 사이의 여백 추가 */
}

nav.banner a {
    margin: 0 25px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

nav.banner a:hover, nav.banner a.active {
    color: white;
    background-color: #f7c602;
    padding: 5px 10px;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;  /* 텍스트를 중앙 정렬 */
    overflow-x: hidden; /* 수평 스크롤 제거 */
    background-color: #b3e5d2; /* 민트색 배경을 body에 적용 */
}

.splash-container {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 70px; /* 헤더와 텍스트 사이의 여백 추가 */
}

#candle-container {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 200px; /* 촛불 이미지와 다음 텍스트 사이의 여백 추가 */
    width: 100%;
}

#candle {
    width: 500px;
    height: auto;
}

#description {
    background-color: white; /* 하얀색 배경 */
    padding: 100px; /* 내부 여백 추가 */
    width: 100%; /* 전체 너비 사용 */
}

h1, h2 {
    text-align: center;  /* h1과 h2 텍스트를 중앙 정렬 */
    margin: 20px 0; /* 텍스트 요소들 사이에 여백 추가 */
}

.splash-text {
    text-align: center;
    font-size: 80px;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s, transform 1s;
    position: relative;
    z-index: 1;
}

#buy-cake-button {
    display: block;
    margin: 80px auto 20px auto; /* 상단에 여백 추가 */
    padding: 20px 40px; /* 버튼 크기를 늘리기 위해 패딩 증가 */
    font-size: 24px; /* 버튼 글꼴 크기를 증가 */
    background-color: #fcedb4; /* 버튼 배경색 */
    color: #000000; /* 버튼 텍스트 색상 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#buy-cake-button:hover {
    background-color: #ffd500; /* 호버 시 버튼 배경색 */
}

.smoke {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ca9fff;
    border-radius: 50%;
    transform: scale(1);
    animation: smokeAnimation 1s ease-out;
}

@keyframes smokeAnimation {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(30);
        opacity: 0;
    }
}


/* 로그아웃과 내정보수정 부분 버튼, 툴팁 스타일 */
.top-right-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right-buttons img {
    width: 30px; /* 이미지 크기 조정 */
    height: 30px;
    cursor: pointer;
    margin-left: 20px; /* 이미지 간격 조정 */
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px; /* 텍스트 너비 조정 */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0; /* 패딩 조정 */
    position: absolute;
    z-index: 1;
    top: 150%; /* 툴팁 위치를 아래로 조정 */
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px; /* 글씨 크기 조정 */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
