<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<header>
    <div class="top-right-buttons">
        <div class="tooltip">
            <img src="/image/information.png" onclick="location.href='/member/update'" id="info" alt="내정보수정">
            <span class="tooltiptext">내정보수정</span>
        </div>
        <div class="tooltip">
            <img src="/image/logout.png" onclick="location.href='/member/logout'" id="logout" alt="로그아웃">
            <span class="tooltiptext">로그아웃</span>
        </div>
    </div>
    <h2>Make A Wish</h2>
    <nav class="banner">
        <a onclick="location.href='/shop/'">가게 목록</a>
        <a onclick="location.href='/shop/manage'">가게 관리</a>
        <a onclick="location.href='/community'" style="color: #f7c602">커뮤니티</a>
        <a onclick="location.href='/story'">스토리</a>
    </nav>
</header>

<main>
    <button onclick="location.href='/board/save'">글 작성하기</button>

    <!-- 디버그: boardList 내용을 출력 -->
    <div>[[${boardList}]]</div>

    <table>
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회수</th>
        </tr>
        <tr th:each="board : ${boardList}">
            <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd')}"></td>
            <td th:text="${board.boardHits}"></td>
        </tr>
    </table>
</main>

<footer>
    <p class="footer-info">Name: Make A Wish</p>
    <p class="footer-info">Team: MangoSiru</p>
    <p class="footer-info">Email: mangosiru@cbnu.ac.kr</p>
    <p class="footer-info">Address: 1 Chungdae-ro, Seowon-gu, Cheongju, Chungbuk National University</p>
</footer>
</body>
</html>
