<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a Wish</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
    <div class="left-column">
        <img src="/image/indexcake.jpg" alt="Left Image">
    </div>
    <div class="right-column">
        <header>
            <h2>특별한 순간을 더 특별하게 만들어 줄,</h2>
            <h1>Make a Wish</h1>
        </header>
        <form>
            <button type="button" onclick="location.href='/member/login'">로그인</button><br>
            <button type="button" onclick="location.href='/member/save'">회원가입</button>
        </form>
    </div>
</div>
</body>
</html>
