<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>가게 목록</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/listStore.css">
    <link rel="stylesheet" href="/css/slider.css"> <!-- 슬라이더 CSS 링크 추가 -->
</head>
<body>
<header>
    <div class="top-right-buttons">
        <div class="tooltip">
            <img src="/image/information.png" onclick="location.href='/member/update'" id="info" alt="내정보수정">
            <span class="tooltiptext">내정보수정</span>
        </div>
        <div class="tooltip">
            <img src="/image/logout.png" onclick="location.href='/member/logout'" id="logout" alt="로그아웃">
            <span class="tooltiptext">로그아웃</span>
        </div>
    </div>
    <h1>Make A Wish</h1>
    <nav class="banner">
        <a onclick="location.href='/shop/'" style="color: #f7c602">가게 목록</a>
        <a onclick="location.href='/shop/manage'">가게 관리</a>
        <a onclick="location.href='/community'">커뮤니티</a>
        <a onclick="location.href='/story'">스토리</a>
    </nav>
</header>

<!-- 슬라이더 섹션 -->
<section class="slider-section">
    <div class="slider">
        <div class="slides">
            <div class="slide"><img src="/image/slider_cake8.png" alt="Image 1"></div>
            <div class="slide"><img src="/image/slider_cake7.png" alt="Image 2"></div>
            <div class="slide"><img src="/image/slider_cake3.jpg" alt="Image 3"></div>
            <div class="slide"><img src="/image/slider_cake4.png" alt="Image 4"></div>
            <div class="slide"><img src="/image/slider_cake9.png" alt="Image 5"></div>
        </div>
        <div class="dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </div>
</section>

<main>
    <div class="store-container">
        <div class="store-item" th:each="shop: ${shopList}">
            <div th:each="fileName, stat : ${shop.storedFileName}">
                <img th:src="@{|/upload/${fileName}|}" th:if="${stat.index == 0}" alt="Image">
            </div>
            <a th:href="@{|/shop/${shop.id}|}" th:text="${shop.storename}"></a>
        </div>
    </div>
</main>



<footer>
    <p class="footer-info">Name: Make A Wish</p>
    <p class="footer-info">Team: MangoSiru</p>
    <p class="footer-info">Email: mangosiru@cbnu.ac.kr</p>
    <p class="footer-info">Address: 1 Chungdae-ro, Seowon-gu, Cheongju, Chungbuk National University</p>
</footer>
<script src="/js/slider.js"></script>
</body>
</html>
