<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>가게 목록</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/listStore.css">
    <link rel="stylesheet" href="/css/slider.css"> <!-- 슬라이더 CSS 링크 추가 -->
</head>
<body>
<header>
    <div class="top-right-buttons">
        <button onclick="location.href='/member/update'" id="info">내정보수정</button>
        <button onclick="location.href='/member/logout'" id="logout">로그아웃</button>
    </div>
    <h2>Make A Wish</h2>
    <nav class="banner">
        <a onclick="location.href='/shop/'">가게 목록</a>
        <a onclick="location.href='/shop/manage'">가게 관리</a>
        <a onclick="location.href='/community'">커뮤니티</a>
        <a onclick="location.href='/story'">스토리</a>
    </nav>
</header>

<!-- 슬라이더 섹션 -->
<section class="slider-section">
    <div class="slider">
        <div class="slides">
            <div class="slide"><img src="/image/slider_cake1.jpg" alt="Image 1"></div>
            <div class="slide"><img src="/image/slider_cake2.jpg" alt="Image 2"></div>
            <div class="slide"><img src="/image/slider_cake3.jpg" alt="Image 3"></div>
            <div class="slide"><img src="/image/slider_cake4.jpg" alt="Image 4"></div>
            <div class="slide"><img src="/image/slider_cake5.jpg" alt="Image 5"></div>
        </div>
        <div class="dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </div>
</section>

<main>
    <div class="main-buttons">
        <div>
            <label><input type="radio" name="sort" id="near"> 가까운순</label>
        </div>
        <div>
            <button id="reg" onclick="location.href='/shop/manage'">가게 관리</button>
        </div>
    </div>
    <table>
        <tr>
            <th>순서</th>
            <th>가게이름</th>
            <th>가게소개</th>
            <th>가게위치</th>
        </tr>
        <tr th:each="shop: ${shopList}">
            <td th:text="${shop.id}"></td>
            <td><a th:href="@{|/shop/${shop.id}|}" th:text="${shop.storename}"></a></td>
            <td th:text="${shop.storeintro}"></td>
            <td th:text="${shop.streetAdr}"></td>
        </tr>
    </table>
</main>

<footer>
    <p class="footer-info">Name: Make A Wish</p>
    <p class="footer-info">Team: MangoSiru</p>
    <p class="footer-info">Email: mangosiru@cbnu.ac.kr</p>
    <p class="footer-info">Address: 1 Chungdae-ro, Seowon-gu, Cheongju, Chungbuk National University</p>
</footer>
<script src="/js/slider.js"></script>
</body>
</html>
