<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Store Management</title>
    <link rel="stylesheet" href="store_management.css">
</head>
<body>
<header>
    <h1>내 가게 관리</h1>
</header>
<main>
    <div>
        <button onclick="location.href='OrderStatus.html'">주문 현황</button>
        <button onclick="location.href='/shop/update/{id}(id=${shop.id})'">가게 페이지 수정</button>
        <button onclick="location.href='StorePage.html'">가게페이지</button>
    </div>
</main>
</body>
</html>
