<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Store Management</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/management.css">
</head>
<body>
<header>
    <h2>내 가게 관리</h2>
</header>
<main>
    <div class="main-buttons">
        <button onclick="location.href='OrderStatus.html'">주문 현황</button>
        <button onclick="location.href='/shop/update'">가게 페이지 수정</button>
        <button onclick="location.href='StorePage.html'">가게페이지</button>
    </div>
</main>
<footer>
    <p class="footer-info">Name: Make A Wish</p>
    <p class="footer-info">Team: MangoSiru</p>
    <p class="footer-info">Email: mangosiru@cbnu.ac.kr</p>
    <p class="footer-info">Address: 1 Chungdae-ro, Seowon-gu, Cheongju, Chungbuk National University</p>
</footer>
</body>
</html>
