<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문하기</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/order.css">
</head>
<body>
<header>
    <button type="button" onclick="location.href='/'">뒤로가기</button>
    <h1>주문하기</h1>
</header>

<form action="/order/save" id="orderForm">
    <input type="hidden" name="storename" th:value="${storename}">
    <img id="preview" />
    <input type="file" id="fileInput" onchange="readURL(this);"><br>

    <label>수령 날짜</label>
    <input type="date" id="dateInput"><br>
    <label>수령 시간</label>
    <input type="time" id="timeInput"><br>
    <label>수령 방법</label>
    <div>
        <input type="radio" name="pickup" id="pickup1" value="픽업">
        <label for="pickup1">픽업</label>
        <input type="radio" name="pickup" id="pickup2" value="배달">
        <label for="pickup2">배달</label><br>
    </div>
    <label>문구 및 상세 설명</label><br>
    <textarea name="descript" id="descript" rows="4"></textarea><br>

    <input type="button" value="주문하기" onclick="validateForm()">
</form>

<script src="/js/order.js"></script>
</body>
</html>
