<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 확인</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/ordercheck.css">
</head>
<body>
<header>
    <div class="top-right-buttons">
        <div class="tooltip">
            <img src="/image/information.png" onclick="location.href='/member/update'" id="info" alt="내정보수정">
            <span class="tooltiptext">내정보수정</span>
        </div>
        <div class="tooltip">
            <img src="/image/logout.png" onclick="location.href='/member/logout'" id="logout" alt="로그아웃">
            <span class="tooltiptext">로그아웃</span>
        </div>
    </div>
    <h1>Make A Wish</h1>
    <nav class="banner">
        <a onclick="location.href='/shop/'">가게 목록</a>
        <a onclick="location.href='/shop/manage'">가게 관리</a>
        <a onclick="location.href='/community'">커뮤니티</a>
        <a onclick="location.href='/story'">스토리</a>
    </nav>
</header>
<main class="order-check">
    <div th:if="${recentOrder != null}">
        <h2>주문내역</h2>
        <div th:if="${recentOrder.fileAttached == 1}" class="order-images">
            <div th:each="fileName : ${recentOrder.storedFileName}">
                <img th:src="@{'/upload/' + ${fileName}}" alt="Image">
            </div>
        </div>
        <div th:if="${recentOrder.fileAttached == 0}" class="no-file">
            <h3>첨부 파일 없음</h3>
        </div>
        <div class="order-details">
            <h3>가게 이름: <span th:text="${recentOrder.storename}"></span></h3>
            <h3>주문 내용: <span th:text="${recentOrder.description}"></span></h3>
            <h3>수령 날짜: <span th:text="${recentOrder.receiveDate}"></span></h3>
            <h3>수령 시간: <span th:text="${recentOrder.receiveTime}"></span></h3>
            <h3>수령 방법: <span th:text="${recentOrder.pickupMethod}"></span></h3>
            <h3>전화번호: <span th:text="${recentOrder.phoneNumber}"></span></h3>
        </div>
    </div>
</main>

<footer>
    <p class="footer-info">Name: Make A Wish</p>
    <p class="footer-info">Team: MangoSiru</p>
    <p class="footer-info">Email: mangosiru@cbnu.ac.kr</p>
    <p class="footer-info">Address: 1 Chungdae-ro, Seowon-gu, Cheongju, Chungbuk National University</p>
</footer>
</body>
</html>
