<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문하기</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/order.css">
</head>
<body>
<header>
    <div class="top-right-buttons">
        <div class="tooltip">
            <img src="/image/information.png" onclick="location.href='/member/update'" id="info" alt="내정보수정">
            <span class="tooltiptext">내정보수정</span>
        </div>
        <div class="tooltip">
            <img src="/image/logout.png" onclick="location.href='/member/logout'" id="logout" alt="로그아웃">
            <span class="tooltiptext">로그아웃</span>
        </div>
    </div>
    <h1>Make A Wish</h1>
    <nav class="banner">
        <a onclick="location.href='/shop/'">가게 목록</a>
        <a onclick="location.href='/shop/manage'">가게 관리</a>
        <a onclick="location.href='/board/'">커뮤니티</a>
        <a onclick="location.href='/story'">스토리</a>
    </nav>
</header>

<main>
    <div class="left-column">
        <img id="preview" alt="Image Preview">
        <input type="file" id="fileInput" onchange="readURL(this);" name="orderFile" accept="image/*" multiple>
    </div>
    <div class="right-column">
        <form action="/order/save" method="post" enctype="multipart/form-data" id="orderForm">
            <h1>주문하기</h1>
            <input type="hidden" name="storename" th:value="${storename}">

            <label>수령 날짜</label>
            <input type="date" name="receiveDate" id="dateInput"><br>
            <label>수령 시간</label>
            <input type="time" id="timeInput" name="receiveTime"><br>
            <label>수령 방법</label>
            <div class="pickup-method">
                <input type="radio" name="pickupMethod" id="pickup1" value="픽업">
                <label for="pickup1">픽업</label>
                <input type="radio" name="pickupMethod" id="pickup2" value="배달">
                <label for="pickup2">배달</label>
            </div>
            <label>문구 및 상세 설명</label><br>
            <textarea name="description" id="descript" rows="4"></textarea><br>

            <label for="phoneNumber">전화번호</label>
            <input type="tel" id="phoneNumber" name="phoneNumber"><br>

            <input type="button" value="주문하기" onclick="validateForm()">
        </form>
    </div>
</main>

<footer>
    <p class="footer-info">Name: Make A Wish</p>
    <p class="footer-info">Team: MangoSiru</p>
    <p class="footer-info">Email: mangosiru@cbnu.ac.kr</p>
    <p class="footer-info">Address: 1 Chungdae-ro, Seowon-gu, Cheongju, Chungbuk National University</p>
</footer>

<script src="/js/order.js"></script>
</body>
</html>
