<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문하기</title>
    <link rel="stylesheet" href="static/css/order.css">
</head>
<body>
<header>
    <button tyep="button" onclick="location.href=''">뒤로가기</button>
    <h2>주문하기</h2>
</header>

<form>

    <img id="preview" />
    <input type="file" onchange="readURL(this);"><br>

    <label>수령 날짜</label>
    <input type="date"><br>
    <label>수령 시간</label>
    <input type="time"><br>
    <label>수령 방법</label>
    <form>
        <input type="radio" name="pickup">픽업
        <input type="radio" name="pickup">배달<br>
    </form>
    <label>문구 및 상세 설명</label><br>
    <input type="text" name="descript"><br>

    <input type="button" value="주문하기" onClick="location.href='./orderCheck.html'">
</form>
</body>
<script>
function readURL(input){
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('preview').src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    } else {
        document.getElementById('preview').src = "";
    }
}
</script>
</html>