<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가게 등록</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
<header>
    <div class="top-right-buttons">
        <div class="tooltip">
            <img src="/image/information.png" onclick="location.href='/member/update'" id="info" alt="내정보수정">
            <span class="tooltiptext">내정보수정</span>
        </div>
        <div class="tooltip">
            <img src="/image/logout.png" onclick="location.href='/member/logout'" id="logout" alt="로그아웃">
            <span class="tooltiptext">로그아웃</span>
        </div>
    </div>
    <h2>내 가게 등록</h2>
    <nav class="banner">
        <a onclick="location.href='/shop/'">가게 목록</a>
        <a onclick="location.href='/shop/manage'">가게 관리</a>
        <a onclick="location.href='/community'">커뮤니티</a>
        <a onclick="location.href='/story'">스토리</a>
    </nav>
</header>
<main>
    <form action="/shop/save" method="post" enctype="multipart/form-data">
        <label for="storename">가게명</label>
        <input type="text" id="storename" name="storename">
        <label for="shopPass">비밀번호</label>
        <input type="text" id="shopPass" name="shopPass">
        <label for="sample4_postcode">가게위치</label>
        <div class="input-group">
            <input type="text" id="sample4_postcode" name="postCode" placeholder="우편번호">
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
        </div>
        <input type="text" id="sample4_roadAddress" name="streetAdr" placeholder="도로명주소">
        <span id="guide" style="color:#999;display:none"></span>
        <input type="text" id="sample4_detailAddress" name="detailAdr" placeholder="상세주소">
        <label for="storeintro">가게소개</label>
        <textarea id="storeintro" name="storeintro" rows="4" cols="50"></textarea>
        <label for="btnAtt">대표 사진</label>
        <div id="image_preview">
            <input type="file" id="btnAtt" name="shopFile" accept="image/*" multiple>
            <div id="att_zone"></div>
        </div>
        <input id="summit" type="submit" value="등록">
    </form>
</main>
<footer>
    <p class="footer-info">Name: Make A Wish</p>
    <p class="footer-info">Team: MangoSiru</p>
    <p class="footer-info">Email: mangosiru@cbnu.ac.kr</p>
    <p class="footer-info">Address: 1 Chungdae-ro, Seowon-gu, Cheongju, Chungbuk National University</p>
</footer>
<script src="/js/imagePreview.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var roadAddr = data.roadAddress;
                var extraRoadAddr = '';
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }
                var guideTextBox = document.getElementById("guide");
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';
                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
</body>
</html>
