<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store Registration</title>

    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            text-align: center;
            padding: 20px;
            background-color: #ffffff;
            border-bottom: 1px solid #ffffff;
        }

        main {
            padding: 20px;
        }

        #summit {
            float: right;
        }

        #image_preview {
            margin-bottom: 20px;
        }
    </style>
</head>
<header>
    <h1>내 가게 등록하기</h1>
</header>

<body>
<main>
    <form action="/shop/save" method="post">


        <label for="storename">가게명</label>
        <input type="text" id="storename" name="storename">
        <br><br>
        <label for="storeplace">가게위치</label>
        <input type="text" id="storeplace" name="storeplace">
        <br><br>
        <label for="storeintro">가게소개</label>
        <input type="text" id="storeintro" name="storeintro">
        <br><br>
        <label for="btnAtt">제품 사진</label>
        <div id="image_preview">
            <input type="file" id="btnAtt" accept="image/*" multiple="multiple"/>
            <div id="att_zone"></div>
        </div>
        <br><br>
        <input id="summit" type="submit" value="등록">



    </form>
</main>
<script src="imagePreview.js"></script>
</body>
</html>