<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store Registration</title>
    <link rel="stylesheet" href="store_registration.css">
</head>
<body>
<header>
    <h1>내 가게 등록하기</h1>
</header>
<main>
    <form action="/shop/save" method="post">
        <label for="storename">가게명</label>
        <input type="text" id="storename" name="storename">
        <label for="storeplace">가게위치</label>
        <input type="text" id="storeplace" name="storeplace">
        <label for="storeintro">가게소개</label>
        <textarea id="storeintro" name="storeintro" rows="4" cols="50"></textarea>
        <label for="btnAtt">대표 사진</label>
        <div id="image_preview">
            <input type="file" id="btnAtt" accept="image/*"/>
            <div id="att_zone"></div>
        </div>
        <input id="summit" type="submit" value="등록">
    </form>
</main>
<script src="imagePreview.js"></script>
</body>
</html>
