<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${shop.storename}"></title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/shopdetail.css">
</head>
<body>
<header>
    <div class="top-right-buttons">
        <div class="tooltip">
            <img src="/image/information.png" onclick="location.href='/member/update'" id="info" alt="내정보수정">
            <span class="tooltiptext">내정보수정</span>
        </div>
        <div class="tooltip">
            <img src="/image/logout.png" onclick="location.href='/member/logout'" id="logout" alt="로그아웃">
            <span class="tooltiptext">로그아웃</span>
        </div>
    </div>
    <h1>Make A Wish</h1>
    <nav class="banner">
        <a onclick="location.href='/shop/'">가게 목록</a>
        <a onclick="location.href='/shop/manage'">가게 관리</a>
        <a onclick="location.href='/community'">커뮤니티</a>
        <a onclick="location.href='/story'">스토리</a>
    </nav>
</header>
<main>
    <h2 th:text="${shop.storename}"></h2><br><!-- 동적으로 가게 이름 표시 -->
    <div class="carousel-container" th:if="${shop.fileAttached==1}">
        <div class="carousel">
            <div th:each="fileName: ${shop.storedFileName}" class="carousel-item">
                <img th:src="@{'/upload/' + ${fileName}}" alt="Image">
            </div>
        </div>
        <div class="carousel-controls">
            <button class="prev" onclick="prevSlide()">&#10094;</button>
            <button class="next" onclick="nextSlide()">&#10095;</button>
        </div>
    </div>
    <div class="shop-intro">
        <h3>소개</h3><br>
        <p th:text="${shop.storeintro}"></p>
        <br>
    </div>
    <div class="shop-address">
        <h3>주소</h3><br>
        <p th:text="${shop.postCode}"></p>
        <p th:text="${shop.streetAdr}"></p>
        <p th:text="${shop.detailAdr}"></p>
        <br>
    </div>
    <div class="button-container">
        <button onclick="orderReq()">주문하기</button>
    </div>
</main>
<footer>
    <p class="footer-info">Name: Make A Wish</p>
    <p class="footer-info">Team: MangoSiru</p>
    <p class="footer-info">Email: mangosiru@cbnu.ac.kr</p>
    <p class="footer-info">Address: 1 Chungdae-ro, Seowon-gu, Cheongju, Chungbuk National University</p>
</footer>
<script th:inline="javascript">
    const orderReq = () => {
        const storename = /*[[${shop.storename}]]*/ '';
        location.href = '/order/save/new?storename=' + storename;
    }

    let slideIndex = 0;
    const showSlides = (index) => {
        const slides = document.getElementsByClassName("carousel-item");
        if (index >= slides.length) { slideIndex = 0; }
        if (index < 0) { slideIndex = slides.length - 1; }
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex].style.display = "block";
    }

    const nextSlide = () => {
        slideIndex++;
        showSlides(slideIndex);
    }

    const prevSlide = () => {
        slideIndex--;
        showSlides(slideIndex);
    }

    document.addEventListener('DOMContentLoaded', () => {
        showSlides(slideIndex);
    });
</script>
</body>
</html>
