<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
   </head>
<body>
<table>
    <tr>
        <th>id</th>
        <td th:text="${shop.id}"></td>
    </tr>
    <tr>
        <th>title</th>
        <td th:text="${shop.storename}"></td>
    </tr>
    <tr>
        <th>place</th>
        <td th:text="${shop.postCode}"></td>
        <td th:text="${shop.streetAdr}"></td>
        <td th:text="${shop.detailAdr}"></td>
    </tr>
    <tr>
        <th>intro</th>
        <td th:text="${shop.storeintro}"></td>
    </tr>
    <tr th:if="${shop.fileAttached==1}">
        <th>image</th>
        <td th:each="fileName:${shop.storedFileName}">
            <img th:src="@{'/upload/' + ${fileName}}" alt="Image">
        </td>
    </tr>
</table>
<button onclick="listReq()">목록</button>
<button onclick="updateReq()">수정</button>
<button onclick="deleteReq()">삭제</button>

</body>
<script th:inline="javascript">

    const listReq = () => {
        console.log("목록으로");

        location.href = "/shop/";
    }

</script>
</html>