<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스토리</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/story.css">
</head>
<body>
<header>
    <div class="top-right-buttons">
        <div class="tooltip">
            <img src="/image/information.png" onclick="location.href='/member/update'" id="info" alt="내정보수정">
            <span class="tooltiptext">내정보수정</span>
        </div>
        <div class="tooltip">
            <img src="/image/logout.png" onclick="location.href='/member/logout'" id="logout" alt="로그아웃">
            <span class="tooltiptext">로그아웃</span>
        </div>
    </div>
    <h2>스토리</h2>
    <nav class="banner">
        <a onclick="location.href='/shop/'">가게 목록</a>
        <a onclick="location.href='/shop/manage'">가게 관리</a>
        <a onclick="location.href='/board'">커뮤니티</a>
        <a onclick="location.href='/story'" style="color: #f7c602">스토리</a>
    </nav>
</header>
<div class="splash-container">
    <h1 class="splash-text">"Make a Wish  ! !"</h1>
</div>

<!-- 촛불 이미지 추가 -->
<div id="candle-container">
    <img id="candle" src="/image/with3dcake.png" alt="Candle with Flame">
</div>

<div id="description">
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <!-- 케이크 구매하러 가기 버튼 추가 -->
    <button id="buy-cake-button" onclick="location.href='/shop/'">케이크 구매하러 가기</button>
</div>

<footer>
    <p class="footer-info">Name: Make A Wish</p>
    <p class="footer-info">Team: MangoSiru</p>
    <p class="footer-info">Email: mangosiru@cbnu.ac.kr</p>
    <p class="footer-info">Address: 1 Chungdae-ro, Seowon-gu, Cheongju, Chungbuk National University</p>
</footer>

<script src="/js/story.js"></script>
</body>
</html>
