<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스토리</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/story.css">
</head>
<body>
<header>
    <h1>스토리</h1>
</header>
<div class="splash-container">
    <h1 class="splash-text">"Make a Wish  ! !"</h1>
</div>

<!-- 촛불 이미지 추가 -->
<div id="candle-container">
    <img id="candle" src="/image/with3dcake.png" alt="Candle with Flame">
</div>

<div id="description">
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <h2>특별한 순간을 더 특별하게 만들어줄 케이크</h2>
    <!-- 케이크 구매하러 가기 버튼 추가 -->
    <button id="buy-cake-button" onclick="location.href='/ListStore'">케이크 구매하러 가기</button>
</div>

<footer>
    <p class="footer-info">Name: Make A Wish</p>
    <p class="footer-info">Team: MangoSiru</p>
    <p class="footer-info">Email: mangosiru@cbnu.ac.kr</p>
    <p class="footer-info">Address: 1 Chungdae-ro, Seowon-gu, Cheongju, Chungbuk National University</p>
</footer>

<script src="/js/story.js"></script>
</body>
</html>
